<a href="#!/dashboard">Go to Polls</a>
<h3>This is where the poll question goes</h3>
<i>Click the Vote Button to choose one</i>
</div>
<table>
  <thead>
    <tr>
      <th>Option</th>
      <th>Count of Votes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ng-bind=poll.option1 ></td>
      <td ng-bind=poll.option1_count ></td>
      <td>BUTTON</td>
    <tr>
      <td ng-bind=poll.option2 ></td>
      <td ng-bind=poll.option2_count ></td>
      <td>BUTTON</td>
    <tr>
      <td ng-bind=poll.option3 ></td>
      <td ng-bind=poll.option3_count ></td>
      <td>BUTTON</td>
    <tr>
      <td ng-bind=poll.option4 ></td>
      <td ng-bind=poll.option4_count ></td>
      <td>BUTTON</td>
    </tr>
    </tr>
  </tbody>
</table>
